<div class="container col-10 mt-5">
  <h1 class="ms-4 mb-3 bold">All lists</h1>
  <div class="grid">
    <% if @lists.any? %>
      <% @lists.each do |list|%>
        <%= render "list_card", list: list %>
      <% end %>
    <% else %>
      No lists.
    <% end %>
  </div>
</div>
