<div class="container mt-5">
    <h1 class="mb-5 ms-4 bold"> <%= @list.title %></h1>
    <div class="grid">
      <% @list.places.each do |place|%>
      <div class="card-trip mb-3">
        <%= render 'place-card-list', place: place %>
        </div>
    <% end %>
    </div>
</div>
