<div class="card-category rounded-corner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/Ronin.jpg)">
  <div class="flex-column text-center">
    <h1 class="mb-2 shadow"><%= link_to list.title, list_path(list) %></h1>
  </div>
</div>
