<div class="container col-10 mt-5">
  <div class="d-flex justify-content-between">
    <h1 class="ms-4 mb-3 bold">My lists</h1>
    <div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-ghost" %>
    </div>
  </div>
  <div class="grid">
    <% if @lists.any? %>
      <% @lists.each do |list|%>
        <%= render "user_list_card", list: list %>
      <% end %>
    <% else %>
      No lists.
    <% end %>
  </div>
</div>
