<div class="container col-10 mt-5">
  <h1 class="ms-4 mb-5 bold">My lists</h1>
  <div class="grid">
    <% if @lists.any? %>
      <% @lists.each do |list|%>
        <%= render "user_list_card", list: list %>
      <% end %>
    <% else %>
      No lists.
    <% end %>
  </div>

  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
</div>
