<div class="container col-10 mt-5">
  <div class="d-flex justify-content-between align-items-start position-relative">
      <h2 class="mb-3 mt-5 bold">My Lists</h2>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-ghost position-absolute btn-logout" %>
  </div>
  <div class="grid">
    <% if @lists.any? %>
      <% @lists.each do |list|%>
        <%= render "user_list_card", list: list %>
      <% end %>
    <% else %>
      No lists.
    <% end %>
  </div>
</div>
