<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://imgcp.aacdn.jp/img-a/1200/900/global-aaj-front/article/2016/12/584a5c628b632_584a5b6b227cf_382102854.jpg);'>
  <div class="container text-center">
    <h1 class="text-uppercase">Photo<br>Ronin</h1>
    <h3>Discover new places <br>
    to take your photos</h3>
    <a class="btn btn-ghost my-5" href="#">Explore now</a>
  </div>
</div>


<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div> %>
