<% if current_user %>
<div class="fixed-bottom">
  <div>
    <ul>
      <div class="d-flex justify-content-between py-4 px-4">
        <li><%= link_to places_path do %>
          <i class="icon-big gray fas fa-home"></i>
          <% end %>
        </li>
<<<<<<< HEAD
        <li><button style="background: rgba(0,0,0,0); border: none" data-map-toggle-target="button">
            <i class="icon-big gray fas fa-bars" data-action="click->map-toggle#map_display"></i>
          </button>
=======
        <li><%= link_to places_path do %>
          <i class="icon-big gray fas fa-map"></i>
          <% end %>
>>>>>>> 6c6cbe6f9a639f1c1ada324c9075daa1a15e136b
        </li>
        <li>
          <button data-new-list-target="popupButton" data-action="click->new-list#showForm" style="background: rgba(0,0,0,0); border: none">
            <i class="icon-big gray fas fa-plus"></i>
          </button>
        </li>
        <li><%= link_to places_path do %>
          <i class="icon-big gray fas fa-bars"></i>
          <% end %>
        </li>
        <li><%= link_to user_dashboard_path(current_user) do %>
          <i class="icon-big gray fas fa-user"></i>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
<% end %>
