<% if current_user %>
  <div class="fixed-bottom">
    <ul>
      <div class="d-flex justify-content-between text-center px-2 mx-4 py-3">
        <li><%= link_to root_path do %>
          <div class="flex-column icon-active">
            <i class="icon-big light-gray fas fa-images mb-1"></i>
            <p class="icon-text">Places</p>
          </div>
          <% end %>
        </li>
        <li><%= link_to places_path do %>
          <div class="flex-column icon-active">
            <i class="icon-big light-gray fas fa-search mb-1"></i>
            <p class="icon-text">Search</p>
          </div>
          <% end %>
        </li>
        <li>
          <button data-new-list-target="popupButton" data-action="click->new-list#showForm" style="background: rgba(0,0,0,0); border: none">
              <div class="flex-column icon-active">
                <i class="icon-big light-gray fas fa-plus"></i><p class="icon-text">New</p>
              </div>
          </button>
        </li>
        <li><%= link_to user_dashboard_path(current_user) do %>
          <div class="flex-column icon-active">
            <i class="icon-big light-gray fas fa-heart mb-1"></i>
            <p class="icon-text">Paths</p>
          </div>
          <% end %>
        </li>
        <li><%= link_to lists_path do %>
          <div class="flex-column icon-active">
            <i class="icon-big light-gray fas fa-list mb-1"></i>
            <p class="icon-text">Discover</p>
          </div>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
<% end %>
