<% if current_user %>
<div class="fixed-bottom mt-5">
  <div>
    <ul>
      <div class="grid grid-icon text-center mx-3 py-3">
        <li><%= link_to places_path do %>
          <div class="flex-column icon-active">
            <i class="icon-big gray fas fa-map mb-1"></i>
            <p class="icon-text">Map</p>
          </div>
          <% end %>
        </li>
        <li>
          <button data-new-list-target="popupButton" data-action="click->new-list#showForm" style="background: rgba(0,0,0,0); border: none">
              <i class="icon-big gray fas fa-plus"></i><p class="icon-text">New</p>
          </button>
        </li>
        <li><%= link_to places_path do %>
          <div class="flex-column icon-active">
            <i class="icon-big gray fas fa-list mb-1"></i>
            <p class="icon-text">Places</p>
          </div>
          <% end %>
        </li>
        <li><%= link_to user_dashboard_path(current_user) do %>
          <div class="flex-column icon-active">
            <i class="icon-big gray fas fa-heart mb-1"></i>
            <p class="icon-text">Wishlist</p>
          </div>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
<% end %>
