<div class="container text-center bg-black" id="form-list" data-new-list-target="formList">
<div class="vertical-center">
  <h2>New List</h2>
  <%= simple_form_for @list do |f| %>
    <%= f.input :title, label: false , input_html: { class: "input" } %>
    <%= f.submit class: 'btn btn-ghost mt-3'%>
  <% end %>
  </div>
</div>
