<div class="container" id="form-list" data-new-list-target="formList">
  <h1>Add List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :title, input_html: { class: "input" } %>
    <%= f.submit class: 'btn btn-primario mt-3'%>
  <% end %>
</div>
