<h2 class="mb-3">Select a list</h2>
<%= simple_form_for [place, marker] do |f| %>
  <%= f.association :list, collection: lists, input_html: { class: "input border-green border list-input" }, label:false, include_blank: false %>
  <%= f.submit 'Add',class: 'btn btn-ghost mt-3 position-absolute position-add-btn'%>
<% end %>
