<h2>New List</h2>
<%= simple_form_for [@place,@list] do |f| %>
  <%= f.input :title, label: false , input_html: { class: "input" }, placeholder: "New_List_#{List.all.any? ? List.last.id : 1}" %>
  <%= f.submit 'Add', class: 'btn btn-ghost mt-3'%>
<% end %>
