<div class="position-relative py-2 search-input">
  <div><i id="search" class="green fas fa-search "></i>
    <%= form_tag places_path, method: :get do %>
      <%= text_field_tag :address,
          params[:address],
          class: "form-control input me-3 input-background",
          placeholder: "Search by city"
      %>
      <%= submit_tag "", class: "btn-absolute btn-search" %>
    <% end %>
  </div>
</div>
