<div class="container">
  <div class="col-10 offset-1">
    <span class="dot dot-big dot-big-position"></span>
    <span class="dot dot-small dot-small-position"></span>
    <h1 id="photo-ronin" class="text-center text-uppercase lh-1 text-justify ms-3 position-absolute">Photo<br>Ronin</h1>
    <h3 id="subtitle" class="text-center mx-3 position-absolute">Discover new places <br>
    to take your photos</h3>
  </div>
</div>
