<%= render 'shared/banner' %>

<div class="container my-5">
  <h2 class="recommended text-center mb-5">Recommended <i class="green fas fa-heart"></i></h2>
  <div class="grid">
    <% @places.each do |place| %>
      <div id="places-list" class="card-trip mb-5">
        <%= render 'shared/place_card', place: place %>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h2 class="recommended text-center mb-5">Trending <i class="green fas fa-fire"></i></h2>
  <div class="grid">
    <% @places.each do |place| %>
      <div id="places-list" class="card-trip mb-5">
        <%= render 'shared/place_card', place: place %>
      </div>
    <% end %>
  </div>
</div>
