.alert {
  position: fixed;
  left: 50vw;
  top: 80vh;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: $green;
  color: $black;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  animation: fade 3s;
}

.alert-info {
  border-color: none !important;
}

.alert .btn-close {
  background-color: transparent !important;
  color: $white !important;
  opacity: 1 !important;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: none;
    &:focus {
      box-shadow: rgba($color: #000000, $alpha: 0) !important;
    }
  opacity: 0 !important;
}

.alert-dismissible {
  padding: 8px 16px;
}

.alert-dismissible .btn-close {
  position: absolute;
  right: -30px;
  top: -45px;
  /* right: 0; */
  z-index: 2;
  opacity: 0 !important;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
