.avatar {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}

.avatar-large {
  width: 50px;
  border-radius: 50%;
}

.img-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.small-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
