.banner {
  background-size: cover;
  background-position: center;
  padding: 220px 0;
}

.banner h1 {
  font-family: 'Smooch', cursive;
  margin: 0;
  padding: 20px;
  font-size: 112px;
  line-height: 64px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.51);
}

.banner h3 {
  margin: 0;
}
