.btn-ghost {
  color: $green;
  border: 1px solid $green;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: all 0.3s ease;
  // &.active {
  //   border-radius: 6px;
  //   background-color: rgba(122, 122, 122, 0.466);
  // }
}

.btn-ghost:hover {
  opacity: 1.5;
  color: $green;
  transform: scale(1.1);
}

.btn-ghost-solid {
  color: $gray;
  background-color: $green;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: all 0.3s ease;
  font-weight: 500;
  // &.active {
  //   border-radius: 6px;
  //   background-color: rgba(122, 122, 122, 0.466);
  // }
}

.btn-ghost-solid:hover {
  opacity: 1.5;
  color: $gray;
  font-weight: 500;
  transform: scale(1.1);
}

.toggle-button-container {
  z-index: 0;
  position: relative;
}

.btn-center {
  z-index: 1;
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  opacity: 0.7;
}


.toggle-button {
  padding: 8px 24px;
  color: $black;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
  border-radius: 50px;
  transition: 0.1s;
  top: 80vh;
  border: none;
  background-color: $green;
}

.toggle-button:hover {
  transform: translateX(-50%) scale(1.1);
}

.btn-close {
  z-index: 100;
  position: absolute;
  color: white !important;
  font-size: 24px;
  font-weight: bold;
  top: 2px;
  right: 7px;
}

.btn-close-relative {
  position: relative;
}

.btn-add {
  padding: 0 !important;
}

.purple {
  color: $purple;
}

.btn-logout {
right: 0;
top: 0;
}

.map-btn {
  position: absolute;
  right: 0;
}

.like-button {
  background: rgba(0,0,0,0);
  border: none;
}

.liked {
  color: $green !important;
}

.btn-secondary {
  border-radius: 5px;
}
