.btn-ghost {
  color: $green;
  border: 1px solid $green;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1.5;
  color: $green;
  transform: scale(1.03);
}
