.photo-carousel {
  height: 50vh;
  background-size: cover !important;

  position: relative;
}

.popup-carousel {
  z-index: 99;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-photo {
  position: relative;
  img {
    max-width: 100vw;
    max-height: 100vh;
    margin-left: 50%;
    transform: translateX(-50%)
  }
}

.text-photo {
  text-align: center;
  position: absolute;
  bottom: 16px;
  padding: 0 8px;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px !important;
  background-color: white;
  color: $gray;

  i {
    opacity: .4;
  }
}

.carousel-inner {
  display: flex;
  align-items: center;
  height: 400px;
  object-fit: cover;
  background-color: rgba($color: #000000, $alpha: 0.1);
}
