.photo-carousel {
  height: 50vh;
  background-size: cover !important;
}

.popup-carousel {
  z-index: 99;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-photo {
  img {
    max-width: 100vw;
    max-height: 100vh;
    margin-left: 50%;
    transform: translateX(-50%)
  }
}
