.card-trip {
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 16px;
}

.card-home {
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-map {
  overflow: hidden;
  background: $black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover
    };
}

.card-trip>img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.card-home>img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}



.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 8px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-show {
  margin: 30px 70px;
}
// .card-trip-infos-showpage {
//   padding: 20px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }


.rating-position {
  top: 6px;
  right: 10px;
}

@media only screen and (max-width: 600px) {

  .card-trip .card-trip-infos .rating-size {
      font-size: 16px;
      font-weight: 700;
    }

  .card-trip>img {
      height: 500px;
    }

  .card-home>img {
      height: 500px;
    }
}

.card-trip-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;

  a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-decoration: none;
  }
}
