.dot {
  background-color: $gray;
  border-radius: 50%;
  display: inline-block;
}

.dot-big-position {
  height: 264px;
  width: 264px;
  background-color: $gray;
  position: absolute;
  top: 26vh;
  right: 40px;
  z-index: 1;
}

.dot-small-position {
  height: 128px;
  width: 128px;
  position: absolute;
  top: 42vh;
  left: 40px;
  z-index: 2;
}

#photo-ronin {
  top: 56vh;
  left: 45px;
  z-index: 3;
}

#subtitle {
  top: 72vh;
  left: 78px;
}
