.form-control {
  background-color: $black !important;
  color: $light-gray;
}

.form-control:focus {
  background-color: $black !important;
  box-shadow: 0 0 3px rgba($color: $green, $alpha: 1);
  color: white;

  placeholder {
    color: white;
  }
}

#form-list {
  color: $white;
  display: none;
  position: fixed;
  inset: 0;
  top: 25vh;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
  border-radius: 16px;
  // pairs with position absolute
  z-index: 100;
  // make it not transparent
  &.show {
    display: block;
    // default value for display
  }
  .form-control {
    width: 200px !important;
  }
}

@media only screen and (max-width: 500px) {
    #form-list {
        height: 300px;
        width: 300px;
    }
}
