.grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}

@media only screen and (max-width: 1024px) {
  .grid {
      grid-template-columns: 6fr 6fr;
    }
}

@media only screen and (max-width: 800px) {
  .grid {
      grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 500px) {
  .grid {
      grid-template-columns: 1fr;
    }
    h4 {
      font-size: 24px;
    }
}
