.green {
  color: $green;
}

.gray {
  color: $gray;
}
.light-gray {
  color: $light-gray;
}
.icon-big {
  font-size: 12px;
}

.icon-text {
  font-size: 10px;
  margin-bottom: 0;
  color: $light-gray;
}

.icon-active {
  p,
    i {
      transition: 0.4s;
    }
  }

.icon-active:hover {
  p, i, h2 {
    color: $green;
  }
}
