.icon-big {
  font-size: 20px;
}

.icon-plus {
  font-size: 20px;
}

.icon-text {
  font-size: 10px;
  margin-bottom: 0;
}

.icon-active {
  p,
    i {
      transition: 0.4s;
    }
  }

.icon-active:hover {
  p, i, h2 {
    color: $green;
  }
}

.icon-card {
  font-size: 20px;
}

.icon-scale:hover {
  transform: scale(1.3);
}
