.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  z-index: 100;
}

.btn-add-list {
  top: 360px;
  left: 20px;
}

.btn-like-place {
  top: 20px;
  right: 20px;
}

.position-submit-review {
  bottom: -10px;
  right: 0;
}

.position-add-btn {
  right: 0;
  top: 96px;
}

.position-existing-btn {
  left: 0;
  top: 96px;
}

.existing-list {
  left: 0px;
  top: 96px;
}

.position-add {
  right: 0px;
  top: 96px;
}

.position-input {
  left: -15vw
}

.position-new-list {
  left: 0px;
}
