body {
  background-color: $black;
  color: $white;
}

// Text

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
  line-height: 2px
}

p {
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

@media only screen and (max-width: 1024px) {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 12px;
    }

    p {
      font-size: 12px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: 24px;
    }
}

// Font colors

.green {
  color: $green;
}

.gray {
  color: $gray;
}

// Other

.opacity {
  opacity: 0.95;
}

a {
  text-decoration: none;
}
