body {
  background-color: $black;
  padding-bottom: 96px;
  color: $white;
}



// Text

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
  line-height: 2px
}

p {
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

@media only screen and (max-width: 1024px) {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 12px;
    }

    p {
      font-size: 12px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: 24px;
    }
}

// Font colors

.green {
  color: $green;
}

.gray {
  color: $gray;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.yellow {
  color: $yellow;
}

// BG colors

.bg-black {
  background-color: $black;
}

.bg-green {
  background-color: $green;
}

// Other

.opacity {
  opacity: 0.8;
}

a {
  color: $light-gray;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.card-category a {
  font-size: 20px;
}

// Alignment

.vertical-center {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.shadow {
  box-shadow: 0 -4px 8px rgba($color: #000000, $alpha: 0.3);
}

.rounded-corner {
  border-radius: 16px;
}
