<h2>Share your photo of <%= place.name %></h2>
<%= simple_form_for [@place, @photo] do |f| %>
  <div class="d-flex align-items-center justify-content-between">
    <%= f.input :photo, as: :file, label: false, input_html: { class: "input" } %>
    <%= f.submit 'Send', class: 'btn btn-ghost'%>
</div>
<% end %>
