<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <h3 class="bold"><%= place.name %></h3>
        <h4 class="rating-size">5.0  <i class="fas fa-star green"></i></h4>
      </div>
      <h4 class="green mb-3"><%= place.address %></h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit sit amet consectetur.</p>
    </div>
  </div>
</div>
