<div class="container mt-5">
  <div class="grid">
    <% if @places.any? %>
      <% @places.each do |place| %>
        <div class="card-trip mb-3">
        <%= render 'place_card', place: place %>
        </div>
      <% end %>
    <% else %>
      <p>No places to display</p>
    <% end %>
  </div>
</div>
