<%= render 'shared/navbar' %>
<div data-controller="map-toggle" class="toggle-button-container">
  <button data-map-toggle-target="button" class="text-center btn-center toggle-button" data-action="click->map-toggle#mapDisplay">
    See Map
  </button>
  <div class="container review-form" data-map-toggle-target="list">
    <div class="grid">
      <% if @places.any? %>
        <% @places.each do |place| %>
          <div class="card-trip d-flex align-items-stretch">
            <%= render 'shared/place_card', place: place %>
          </div>
        <% end %>
      <% else %>
        No places.
      <% end %>
    </div>
  </div>
  <div data-map-toggle-target="map">
    <%= render 'map', marker: @pins %>
  </div>
</div>
