<div class="container mx-1 mt-5">
  <div class="col-12">
    <% if @places.any? %>
      <% @places.each do |place| %>
        <%= render 'place_card', place: place %>
      <% end %>
    <% else %>
      <p>No places to display</p>
    <% end %>
  </div>
</div>
