<div class="container mt-5 d-none" data-map-toggle-target="list">
  <div class="grid">
    <% if @places.any? %>
      <% @places.each do |place| %>
        <div class="card-trip mb-3">
        <%= render 'place_card', place: place %>
        </div>
      <% end %>
    <% else %>
      No places.
    <% end %>
    </div>
  </div>
</div>
<div data-map-toggle-target="map">
  <%= render 'map', marker: @markers %>
</div>
