<div class="card-trip">

<%# <div class="card-trip mb-3"> %>
  <%#= render 'place_card', place: @place %>

<div data-controller="carousel" class="swiper-container card-trip mb-3">
  <div class="swiper-wrapper">
  <% if @place.photos.any? %>
    <% @place.photos.each do |photo| %>
     <div class="swiper-slide"><%= cl_image_tag(photo.photo.key) %></div>

    <% end %>
    <% else %>
    <div class="swiper-slide"><img src='/assets/Ronin.jpg' class="w-100"/></div>
    <% end %>
  </div>
  <%# </div> %>
</div>

    <div class="card-trip-infos">
      <div class="info-middle">
        <i class="fas fa-calendar"></i>
        <i class="fas fa-camera"></i>
        <p>camera model</p>
      </div>
    </div>

    <div class="row">
      <div class="col-4 text-center">
        <p>aperture</p>
      </div>
      <div class="col-4 text-center">
        <p>shutter speed</p>
      </div>
      <div class="col-4 text-center">
        <p>iOS</p>
      </div>
    </div>
</div>
